@supports(--css: variables) {

:root {
    /* Faction colors */

    --threehundreds: 255, 200, 200;
    --pale-gray-monochrome: 80, 91, 110;
    --light-gray-monochrome: 167, 161, 116;
    --gray-monochrome: 109, 105, 72;
    --dark-gray-monochrome: 77, 73, 37;
    --black-monochrome: 210, 210, 210;
    --bright-accent: 109, 81, 72;
    --medium-accent: 227, 222, 180;
    --dark-accent: 100, 125, 125;
	}
}

td.box {
width:60px;
height:60px;
color:#FFF;
min-width:60px;
min-height:60px;
border: 1px solid rgba(50,50,50,.5);
}

td.box.hundred3 {
background-color: rgba(var(--threehundreds), .3);
}
td.box.hundred3:hover {
background-color: rgba(var(--threehundreds),.7);
color:#A00;
}


td.hbox {
width:60px;
height:60px;
min-width:60px;
min-height:60px;
text-align:right;
font-size:2em;
color:white;
border: 1px solid grey;
}

td.tbox {
width:60px;
height:60px;
min-width:60px;
min-height:60px;
text-align:center;
vertical-align:bottom;
font-size:2em;
color:white;
border: 1px solid grey;
}